<header>
    <div class="logo">
        <h1 class="logo-text">Weller's Fine Art</h1>
        <p>Contemporary Art Gallery</p>
    </div>
    <nav>
        <ul>
            <li><a href="index.html" class="nav-link" data-path="index.html">Home</a></li>
            <li><a href="pages/current_exhibition.html" class="nav-link" data-path="pages/current_exhibition.html">Current Exhibition</a></li>
            <li><a href="pages/past_exhibitions.html" class="nav-link" data-path="pages/past_exhibitions.html">Past Exhibitions</a></li>
            <li><a href="pages/gallery.html" class="nav-link" data-path="pages/gallery.html">Gallery</a></li>
            <li><a href="pages/artists.html" class="nav-link" data-path="pages/artists.html">Artists</a></li>
            <li><a href="pages/contact.html" class="nav-link" data-path="pages/contact.html">Contact</a></li>
        </ul>
    </nav>
</header>