<header>
    <div class="logo">
        <h1 class="logo-text">Weller's Fine Art</h1>
        <p>Excellence in Fine Art Sales</p>
    </div>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="current_exhibition.html">Current Exhibition</a></li>
            <li><a href="artists.html">Artists</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="past_exhibitions.html">Past Exhibitions</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>