<div class="footerlinks">
    <ul>
        <li><a href="https://webpages.charlotte.edu/hbeachu2/">Charlotte.edu</a></li>&#8214;<li><a href="./humblebuffalo/">Humble Buffalo</a></li>&#8214;
        <li><a href="https://github.com/hunterbeachum" target="_blank">GitHub</a></li>&#8214;
        <li><a href="https://hunterbeachum.github.io" target="_blank">GitHub.io</a></li>&#8214;
        <li><a href="https://hunterbeachum.github.io/itis3135" target="_blank">GitHub.io ITIS 3135</a></li>&#8214;
        <li><a href="https://www.freecodecamp.org/hbeachu2" target="_blank">FreeCodeCamp</a></li>&#8214;
        <li><a href="https://www.codecademy.com/profiles/hbeachu2" target="_blank">Codecademy</a></li>&#8214;
        <li><a href="https://www.linkedin.com/in/hunterbeachum/" target="_blank">LinkedIn</a></li>
    </ul>
</div>
<p>&copy; 2025 <a href="./beachumenterprises.com/">Beachum Enterprises</a>. All rights reserved.</p>
<script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>

<script>
    document.getElementById("validation-link-html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation-link-css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>